<div><button (click)="displayName()">Click Me</button></div>
{{name}}

<div>
Please Enter a text here (Keypress Event)<br>
<input type="text" (keypress)="displayValue($event)">
{{kPress}}
</div>

<div>
Please Enter a text here (Keyup Event)<br>
<input type="text" (keyup)="displayValue($event)">
{{kUp}}
</div>

<div>
Please Enter a text here (Keydown Event)<br>
<input type="text" (keydown)="displayValue($event)">
{{kDown}}
</div>

<div>
  Blur Example<br>
  <input type="text" (blur)="blurEvent($event)">
 {{blurText}}
</div>

<!-- <p (mouseenter)="mouseEnterEvent()" (mouseleave)="mouseLeftEvent()"><b> Do Not MOVE YOUR MOUSE OVER THIS TEXT </b></p> -->

